---
import Button from "@ui/Button.astro";

// Content for the section title and subtitle
const title =
  'Get started with <span class="font-medium text-teal-700">Vit</span><span class="font-light text-slate-400">ally</span>.';
const subTitle =
  "It only takes a minute to begin. Create your account, upload your first file, and see how easy it is to keep your medical records organized, safe, and ready to share—anytime you need them.";

// Call-to-action configuration for the primary button
const primaryCTA = { text: "Start Free Trial", href: "#" };
---

<section
  class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 md:py-14 lg:px-8 lg:py-20"
>
  <div class="mx-auto mb-10 max-w-3xl text-center lg:mb-14">
    <h2
      class="text-balance text-4xl text-slate-800 sm:text-5xl"
    >
      <Fragment set:html={title} />
    </h2>
    <p class="text-lg\/8 mt-5 text-pretty text-slate-600">
      {subTitle}
    </p>
    <Button
      href={primaryCTA.href}
      variant="primary"
      className="mt-7 inline-flex border-none px-3.5!">{primaryCTA.text}</Button
    >
  </div>
</section>
